.card {
  width: 150px;
  height: 220px;
  border: 1px solid #0f0f0f;
  border-radius: 10px;
  padding: 4px;
  box-shadow: #63636333 0px 2px 8px 0px;;
}

.card--black {
  background-color: #0f0f0f;
  color: #fcfcfc;
}

.card--white {
  background-color: #fcfcfc;
  color: #0f0f0f;
}

.card__text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
}
